In [46]:
import numpy as np 
import pandas as pd
from pandas import Series, DataFrame

# æ¨¡æ‹Ÿ2021å¹´4æœˆ18æ—¥LPLæ˜¥å­£æ€»å†³èµ›RNGæˆ˜é˜Ÿ VS FPXæˆ˜é˜Ÿ RNGæ‹¿ä¸‹GALAäº”æ€çš„é‚£æ³¢ç²¾å½©å›¢æˆ˜!
# æœ¬ç¯‡æ•°æ®ä»…ä¾›å‚è€ƒ,è¯¦ç»†æˆ˜å†µæµè§ˆæ¯”èµ›å½•å±

In [47]:
index_Rng = ['GALA', 'XIAOHU', 'WEI', 'MING', 'CRYIN']
index_Fpx = ['LWX', 'NUGURI', 'TIAN', 'CRISP', 'DOINB']
columns = ['è¡€é‡', 'è¾“å‡º', 'æ‰¿ä¼¤']
data_Rng = np.random.randint(1500, 2000, size=(5, 3))
data_Fpx = np.random.randint(1500, 2000, size=(5, 3))
df_Rng = DataFrame(index=index_Rng, columns=columns, data=data_Rng)
df_Fpx = DataFrame(index=index_Fpx, columns=columns, data=data_Fpx)
display(df_Rng, df_Fpx)

          è¡€é‡    è¾“å‡º    æ‰¿ä¼¤
GALA    1598  1830  1511
XIAOHU  1568  1973  1853
WEI     1720  1906  1543
MING    1691  1757  1538
CRYIN   1881  1714  1580

          è¡€é‡    è¾“å‡º    æ‰¿ä¼¤
LWX     1819  1973  1721
NUGURI  1898  1908  1633
TIAN    1820  1845  1796
CRISP   1520  1709  1719
DOINB   1870  1642  1761

In [48]:
# è¾“å‡ºå’Œæ‰¿ä¼¤æ•°æ®ç»Ÿè®¡çš„æ˜¯è¯¥æ¬¡å›¢æˆ˜,æ‰€ä»¥å›¢æˆ˜å¼€å§‹å‰éƒ½æ˜¯ä¸º0
df_Rng.loc[:, 'è¾“å‡º':'æ‰¿ä¼¤'] = 0

In [49]:
df_Fpx.iloc[:,1] = 0
df_Fpx.loc[:,'æ‰¿ä¼¤'] = np.nan  
df_Fpx

          è¡€é‡  è¾“å‡º  æ‰¿ä¼¤
LWX     1819   0 NaN
NUGURI  1898   0 NaN
TIAN    1820   0 NaN
CRISP   1520   0 NaN
DOINB   1870   0 NaN

In [50]:
df_Fpx = df_Fpx.fillna(method='ffill',axis=1, )  # è¿™é‡Œä½¿ç”¨ä¸‹çŸ¥è¯†ç‚¹,å¡«å……
display(df_Rng, df_Fpx)

          è¡€é‡  è¾“å‡º  æ‰¿ä¼¤
GALA    1598   0   0
XIAOHU  1568   0   0
WEI     1720   0   0
MING    1691   0   0
CRYIN   1881   0   0

            è¡€é‡   è¾“å‡º   æ‰¿ä¼¤
LWX     1819.0  0.0  0.0
NUGURI  1898.0  0.0  0.0
TIAN    1820.0  0.0  0.0
CRISP   1520.0  0.0  0.0
DOINB   1870.0  0.0  0.0

In [51]:
# Fpxåœ¨æ¯”èµ›æ—¶é—´20:00äº”äººé›†ç»“ä¸­è·¯,æ­¤æ—¶Rngä»…æœ‰ä¸‰äººåœ¨ä¸­å¡”é™„è¿‘,
# Fpxè§åŠ¿æƒ³æ‹¿ä¸‹ä¸€å¡”ã€‚äºæ˜¯ä¹Fpx_NUGURIä½¿ç”¨çš„æ°æ–¯å¯¹Rng_GALAè½°äº†ä¸€ç‚®ï¼Œé€ æˆ500ä¼¤å®³
df_Fpx.loc['NUGURI', 'è¾“å‡º'] += 500
df_Rng.loc['GALA', 'æ‰¿ä¼¤'] += 500
df_Rng.loc['GALA', 'è¡€é‡'] -= 500

In [52]:
# Rngæ­¤æ—¶ç»æµé¢†å…ˆ, CRYINäº®ä¸‹ä¼ é€,å‡†å¤‡ä¸­è·¯æ‰“å›¢, XIAOHUä¹Ÿåœ¨ä»ä¸‹è·¯æ²³é“å¾€ä¸­è·¯èµ¶æ¥
# Fpxè§åŠ¿åæ’¤,rng_ming æ€¥äºè¿½å‡»,å°†eqrå…¨éƒ¨äº¤ç»™æœ‰é‡‘èº«çš„Doinbçš„é˜¿å¡ä¸½èº«ä¸Š,é€ æˆ100ç‚¹ä¼¤å®³, GALAçš„å¡èwå‘½ä¸­é˜¿å¡ä¸½é€ æˆ150ç‚¹ä¼¤å®³,
# é˜¿å¡ä¸½è¿…é€Ÿé‡‘èº«,å°æ˜è¿™æ³¢æ˜¯éå¸¸æ„šè ¢çš„, Rng_weiçš„å¥¥æ‹‰å¤«ç«Ÿç„¶ç›´æ¥å¼€Rå†²äº†èµ·æ¥,æˆ‘çš„ğŸ
df_Fpx.loc['DOINB', 'æ‰¿ä¼¤'] += 250
df_Rng.loc['MING','è¾“å‡º'] += 100
df_Rng.loc['GALA', 'è¾“å‡º'] += 150

In [53]:
# Rng_Cryin å‘æ¡æƒ³å¤§æ‹›å‹doinbé˜¿å¡ä¸½çš„èµ·èº«,ä½†æ˜¯å‹èµ·èº«å¤±è¯¯, ç”±äºå‘æ¡å¤§æ‹›æ˜¯èŒƒå›´ä¼¤å®³,å¯¹æ—è¾¹çš„å°å¤©ç‹—ç†Šé€ æˆäº†400ä¼¤å®³,
# ç‰›å®çš„æ°æ–¯ä¸ºäº†èº²å¤§æ‹›äº¤äº†é—ªç°
# ä¸æ­¤åŒæ—¶Rngçš„weiå¥¥æ‹‰å¤«äº¤å¤§æ‹›å†²åˆ°äººç¾¤è¢«æš´èµ°,ç›´æ¥èåŒ–,å¯¹å°å¤©ç‹—ç†Šé€ æˆ300ä¼¤å®³,ç‰›å®æ°æ–¯é€ æˆ300,åˆ˜é’æ¾ç‘å°”300
# ç„¶åfpxç‘å°”ç›´æ¥å¼€å›¢æŠŠrngçš„cryinå‘æ¡æ§ä½,å‘æ¡ä¹Ÿç¬é—´æš´æ¯™!
# rng_å°æ˜å› ä¸ºæ˜¯å¥³å¦å°è‚‰,è¡€é‡å‰©ä¸‹ä¸€åŠ
# weiå’Œcryinä¸¤ä¸ªå‘é€¼!è¿™æ³¢å›¢ä¸€ä¸ªé€ æˆä¼¤å®³400,ä¸€ä¸ªé€ æˆ900
df_Rng.loc['CRYIN','è¾“å‡º'] += 400
df_Rng.loc['CRYIN', 'æ‰¿ä¼¤'] = df_Rng.loc['CRYIN', 'è¡€é‡']  # ç›´æ¥æš´æ¯™äº†
df_Rng.loc['WEI', 'è¾“å‡º'] += 900
df_Rng.loc['WEI', 'æ‰¿ä¼¤'] = df_Rng.loc['WEI', 'è¡€é‡']  # ç›´æ¥æš´æ¯™äº†

In [54]:
# æ­¤æ—¶rngå·²ç»æš´æ¯™ä¸¤äºº,æƒ…å†µå±æ€¥,ä¾ç„¶å¤„äºå´©ç›˜çš„å±€é¢,ä½†å°±åœ¨æ­¤æ—¶,rngçš„å°è™èµ¶åˆ°æˆ˜åœº, 
# ç›´æ¥å¯¹fpxçš„lwxçš„å°ç‚®,doinbçš„é˜¿å¡ä¸½,å’Œåˆ˜é’æ¾çš„èŠ®å°”å‘èµ·äº†è‚‰è›‹è‘±é¸¡!ç„¶åæ°¸éœœä¸€æ¥å®šä½å››äºº,ç„¶åä¸€ä¸ªRç»™fpxé˜µå‹æ‰“å¾—ç¨€å·´çƒ‚,ä½†æ˜¯å°è™ä¹Ÿå› æ­¤ç‰ºç‰²
# æ­£å› ä¸ºå°è™çš„é…’æ¡¶ç»™å¯¹é¢é€ æˆäº†å·¨é¢ä¼¤å®³3100,
# å¹¶ä¸”å¤§æ•£äº†Fpxçš„é˜µå®¹,ç»™rng_galaåˆ›é€ äº†å¾ˆå¥½çš„è¾“å‡ºç¯å¢ƒ, galaå·²ç»æŠŠå°å¤©ç‹—ç†Šå’ŒDoinbé˜¿å¡ä¸½ç»™æ”¶æ‰äº†
# galaæ­¤æ—¶åœ¨ç–¯ç‹‚æ‹‰æ‰¯,ä¸€è¾¹æ‹‰æ‰¯ä¸€è¾¹è¾“å‡º,æœ€åæ°æ–¯çœ‹ä¸ä¸‹å»ç›´æ¥ä¸€é”¤ç»™galaçš„å¡è,galaç¥ååº”ç›´æ¥é—ªç°å¿«é€Ÿèº²å¼€,ç„¶åå°æ˜æ›™å…‰è¿…é€Ÿæ™•ä½æ°æ–¯,
# æ°æ–¯å°±æ‹œæ‹œå’¯,#ç„¶ågalaå¤§æ‹›åˆ·æŠ¤ç›¾,ç»§ç»­è¾“å‡º!
# å°±åœ¨æ­¤æ—¶,lwxå°ç‚®æƒ³è·³ä¸Šæ¥æ€æ­»gala, ä½†æ˜¯å°±å·®ä¸€ä¸‹æ”¶æ‰gala,åªèƒ½è¯´lwxå‰æœŸé€çš„å¥½å‘€,è£…å¤‡å·®äº†ç‚¹,å˜»å˜»
# æœ€ågalaæ”¶ä¸‹å°ç‚®å’ŒèŠ®å°”,æ‹¿ä¸‹äº”æ€, GALAæ°¸è¿œæ»´ç¥
# galaä¼¤å®³æ–°å¢3500ä¼¤å®³, å°è™å·¨é¢ä¼¤å®³3100, mingæ–°å¢1000, æœå­å“¥å’Œweiå‰é¢å°±æš´æ¯™äº†,è¿™æ³¢æ–°å¢0
# Fpxæ–¹lwxæ–°å¢2000,ç‰›å®æ–°å¢2000, å°å¤©æ–°å¢470, åˆ˜é’æ¾æ–°å¢1100, doinbæ–°å¢2300

df_Rng.loc['GALA','æ‰¿ä¼¤'] += 700  # ä¸¤äººå­˜æ´»
df_Rng.loc['GALA','è¡€é‡'] -= 700

df_Rng.loc['MING','æ‰¿ä¼¤'] += 1200
df_Rng.loc['MING','è¡€é‡'] -= 1200


n1_rng = np.array([3500, 3100, 0, 1000, 0])
n1_fpx = np.array([2000, 2500, 470, 1100, 2300])
df_Rng.loc[:, 'è¾“å‡º'] += n1_rng
df_Fpx.loc[:, 'è¾“å‡º'] += n1_fpx

In [55]:
display(df_Rng, df_Fpx)

          è¡€é‡    è¾“å‡º    æ‰¿ä¼¤
GALA     398  3650  1200
XIAOHU  1568  3100     0
WEI     1720   900  1720
MING     491  1100  1200
CRYIN   1881   400  1881

            è¡€é‡      è¾“å‡º     æ‰¿ä¼¤
LWX     1819.0  2000.0    0.0
NUGURI  1898.0  3000.0    0.0
TIAN    1820.0   470.0    0.0
CRISP   1520.0  1100.0    0.0
DOINB   1870.0  2300.0  250.0

In [56]:
# æœ€ç»ˆå¤§æˆ˜åªå‰©Rngçš„GALAå’ŒMINGå­˜æ´»,åªèƒ½è¯´ä¸€æ³¢ç²¾å½©å›¢æˆ˜å•Š
data = df_Rng.loc[['GALA','MING'],['è¡€é‡','æ‰¿ä¼¤']].copy()   # å•ç‹¬å–å‡ºä¸¤ä¸ªå­˜æ´»çš„äºº,ä½¿ç”¨é«˜çº§ç´¢å¼•è¯­æ³•
data

       è¡€é‡    æ‰¿ä¼¤
GALA  398  1200
MING  491  1200

In [57]:
# æˆ‘å‰é¢éƒ½æ²¡æœ‰å¯¹è¡€é‡è¿›è¡Œæ“ä½œ,é™¤äº†å­˜æ´»çš„ä¸¤äºº,æ‰€ä»¥è¡€é‡éƒ½æ˜¯æ»¡è¡€
# æœ€åå›¢æˆ˜ç»“æŸé™¤äº† GALAå’ŒMINGéƒ½æ­»äº†, æ‰€ä»¥å§‘ä¸”æŠŠè¡€é‡è¿™ä¸€åˆ—ç›´æ¥èµ‹å€¼ç»™æ‰¿ä¼¤è¿™ä¸€åˆ—å°±å¥½äº†
df_Fpx.loc[:,'æ‰¿ä¼¤'] = df_Fpx.loc[:,'è¡€é‡']
df_Rng.loc[:,'æ‰¿ä¼¤'] = df_Rng.loc[:,'è¡€é‡']
# å†ç„¶åè¡€é‡è¿™ä¸€åˆ—å‡å»æ‰¿ä¼¤è¿™ä¸€åˆ—
n_Fpx = np.array(df_Fpx.loc[:,'è¡€é‡'])
n_Rng = np.array(df_Rng.loc[:,'è¡€é‡'])
s_Fpx = Series(data=n_Fpx,index=index_Fpx)
s_Rng = Series(data=n_Rng,index=index_Rng)
df_Fpx.loc[:,'è¡€é‡'] -= s_Fpx
df_Rng.loc[:,'è¡€é‡'] -= s_Rng

In [58]:
df_Rng.loc[['GALA','MING'],['è¡€é‡','æ‰¿ä¼¤']] = data  # å†æŠŠä¹‹å‰å¤åˆ¶çš„æ•°æ®èµ‹å€¼å›ä¸¤ä¸ªå­˜æ´»çš„äºº

In [59]:
display(df_Rng, df_Fpx)

         è¡€é‡    è¾“å‡º    æ‰¿ä¼¤
GALA    398  3650  1200
XIAOHU    0  3100  1568
WEI       0   900  1720
MING    491  1100  1200
CRYIN     0   400  1881

         è¡€é‡      è¾“å‡º      æ‰¿ä¼¤
LWX     0.0  2000.0  1819.0
NUGURI  0.0  3000.0  1898.0
TIAN    0.0   470.0  1820.0
CRISP   0.0  1100.0  1520.0
DOINB   0.0  2300.0  1870.0

In [60]:
# å°†ä¸¤å¼ è¡¨åˆåœ¨ä¸€èµ·

In [61]:
df_all = df_Rng.add(df_Fpx, fill_value=0, )
df_all

           è¡€é‡      è¾“å‡º      æ‰¿ä¼¤
CRISP     0.0  1100.0  1520.0
CRYIN     0.0   400.0  1881.0
DOINB     0.0  2300.0  1870.0
GALA    398.0  3650.0  1200.0
LWX       0.0  2000.0  1819.0
MING    491.0  1100.0  1200.0
NUGURI    0.0  3000.0  1898.0
TIAN      0.0   470.0  1820.0
WEI       0.0   900.0  1720.0
XIAOHU    0.0  3100.0  1568.0

In [63]:
# å›¢æˆ˜è¿‡å,æ­»äº¡é˜Ÿå‘˜éƒ½å·²ç»å¤æ´», rngæ®‹è¡€ä¸¤äººä¹Ÿå›åŸè¡¥ç»™, æ‰€ä»¥è¡€é‡éƒ½æ¢å¤æ»¡äº†,å›¢æˆ˜è¾“å‡ºæ‰¿ä¼¤é‡ç½®ä¸º0
# ç»§ç»­è¿™åœºæ¯”èµ›,ä½†æ˜¯fpxè´¥å±€å·²å®š,rngèƒœåˆ¸åœ¨æ¡
data_all = np.zeros(shape=(10,3))
df_all.loc[:,:] = data_all
data_blood = np.random.randint(1500, 2000, size=(2,5))
df_all.loc[:,'è¡€é‡'] = data_blood.reshape(10)
df_all

          è¡€é‡   è¾“å‡º   æ‰¿ä¼¤
CRISP   1669  0.0  0.0
CRYIN   1843  0.0  0.0
DOINB   1965  0.0  0.0
GALA    1843  0.0  0.0
LWX     1928  0.0  0.0
MING    1734  0.0  0.0
NUGURI  1855  0.0  0.0
TIAN    1902  0.0  0.0
WEI     1674  0.0  0.0
XIAOHU  1941  0.0  0.0

In [ ]:
# rngç»™ğŸ‘´å†²